body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #007bff;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

h1 {
    color: #007bff;
}

h2 {
    color: #00698f;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #ffffff;
}

main {
    background-image: url('Word Cloud - Information Technology Stock Vector - Illustration of database, informatics_ 27071722.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
}

footer {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    clear: both;
}

footer p {
    margin: 0;
}